<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Document</title>
</head>
<body>
        </div>
      </header>
      <section class="text-gray-600 body-font">
        <div class="container px-5 py-24 mx-auto">
          <div class="flex flex-col text-center w-full mb-20">
            <h1 class="sm:text-3xl text-2xl font-medium title-font mb-4 text-gray-900">Faculty Records</h1>
            <p class="lg:w-2/3 mx-auto leading-relaxed text-base">A good teacher can inspire hope, ignite the imagination, and instill a love of learning</p>
          </div>
          <div class="flex flex-wrap -m-2">
            <div class="p-2 lg:w-1/3 md:w-1/2 w-full">
              <div class="h-full flex items-center border-gray-200 border p-4 rounded-lg">
                <img alt="team" class="w-16 h-16 bg-gray-100 object-cover object-center flex-shrink-0 rounded-full mr-4" src="teacher.png">
                <div class="flex-grow">
                  <h2 class="text-gray-900 title-font font-medium"><a href="raman.html">Mr Raman Kumar</a></h2>
                  <p class="text-gray-500">Machine Learning</p>
                </div>
              </div>
            </div>
            <div class="p-2 lg:w-1/3 md:w-1/2 w-full">
              <div class="h-full flex items-center border-gray-200 border p-4 rounded-lg">
                <img alt="team" class="w-16 h-16 bg-gray-100 object-cover object-center flex-shrink-0 rounded-full mr-4" src="teacher.png">
                <div class="flex-grow">
                  <h2 class="text-gray-900 title-font font-medium"><a href="anju.html">Mrs Anju Bala</a></h2>
                  <p class="text-gray-500">Computer Architecture and Organisation</p>
                </div>
              </div>
            </div>
            <div class="p-2 lg:w-1/3 md:w-1/2 w-full">
              <div class="h-full flex items-center border-gray-200 border p-4 rounded-lg">
                <img alt="team" class="w-16 h-16 bg-gray-100 object-cover object-center flex-shrink-0 rounded-full mr-4" src="teacher.png">
                <div class="flex-grow">
                  <h2 class="text-gray-900 title-font font-medium"><a href="Ramesh.html">Mr Rakesh Kumar</a></h2>
                  <p class="text-gray-500">probability and Statistics</p>
                </div>
              </div>
            </div>
            <div class="p-2 lg:w-1/3 md:w-1/2 w-full">
              <div class="h-full flex items-center border-gray-200 border p-4 rounded-lg">
                <img alt="team" class="w-16 h-16 bg-gray-100 object-cover object-center flex-shrink-0 rounded-full mr-4" src="teacher.png">
                <div class="flex-grow">
                  <h2 class="text-gray-900 title-font font-medium"><a href="Mrs Harkiran Kaur.html">Mrs Harkiran Kaur</a></h2>
                  <p class="text-gray-500">Computer Networks</p>
                </div>
              </div>
            </div>
            <div class="p-2 lg:w-1/3 md:w-1/2 w-full">
              <div class="h-full flex items-center border-gray-200 border p-4 rounded-lg">
                <img alt="team" class="w-16 h-16 bg-gray-100 object-cover object-center flex-shrink-0 rounded-full mr-4" src="teacher.png">
                <div class="flex-grow">
                  <h2 class="text-gray-900 title-font font-medium"><a href="Mr Vivek Bindra.html">Mr Vivek Bindra</a></h2>
                  <p class="text-gray-500">Software Engineering</p>
                </div>
              </div>
            </div>
            <div class="p-2 lg:w-1/3 md:w-1/2 w-full">
              <div class="h-full flex items-center border-gray-200 border p-4 rounded-lg">
                <img alt="team" class="w-16 h-16 bg-gray-100 object-cover object-center flex-shrink-0 rounded-full mr-4" src="teacher.png">
                <div class="flex-grow">
                  <h2 class="text-gray-900 title-font font-medium"><a href="Mr Ajay Kumar.html">Mr Ajay Kumar</a></h2>
                  <p class="text-gray-500">Data Structures and Algorithms</p>
                </div>
              </div>
            </div>
            <div class="p-2 lg:w-1/3 md:w-1/2 w-full">
              <div class="h-full flex items-center border-gray-200 border p-4 rounded-lg">
                <img alt="team" class="w-16 h-16 bg-gray-100 object-cover object-center flex-shrink-0 rounded-full mr-4" src="teacher.png" >
                <div class="flex-grow">
                  <h2 class="text-gray-900 title-font font-medium"><a href="Mrs Geeta Singh.html">Mrs Geeta Singh</a></h2>
                  <p class="text-gray-500">Computer Basics</p>
                </div>
              </div>
            </div>
            <div class="p-2 lg:w-1/3 md:w-1/2 w-full">
              <div class="h-full flex items-center border-gray-200 border p-4 rounded-lg">
                <img alt="team" class="w-16 h-16 bg-gray-100 object-cover object-center flex-shrink-0 rounded-full mr-4" src="teacher.png">
                <div class="flex-grow">
                  <h2 class="text-gray-900 title-font font-medium"><a href="Mr Sandeep Sharma.html">Mr Sandeep Sharma</a></h2>
                  <p class="text-gray-500">Data Science</p>
                </div>
              </div>
            </div>
            <div class="p-2 lg:w-1/3 md:w-1/2 w-full">
              <div class="h-full flex items-center border-gray-200 border p-4 rounded-lg">
                <img alt="team" class="w-16 h-16 bg-gray-100 object-cover object-center flex-shrink-0 rounded-full mr-4" src="teacher.png">
                <div class="flex-grow">
                  <h2 class="text-gray-900 title-font font-medium"><a href="Mrs Ritu Sharma.html">Mrs Ritu Sharma</a></h2>
                  <p class="text-gray-500">Practical Computing</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
</body>
</html>